<h1>Sandwich form</h1>

<form method="post" action="/sandwiches">
    <label for="sandwich_name">Name: </label>
    <input type="text" name="sandwich[name]" id="sandwich_name">
    <label for="sandwich_price">Price: </label>
    <input type="number" name="sandwich[price]" id="sandwich_price" step="0.5">
    <input type="submit" value="Create Sandwich">
</form>