<h1>Orders Show Page</h1>


Ingredient: <%= @order.sandwich.ingredient %><br>
Price: <%= number_to_currency(@order.sandwich.price) %>
<%= link_to "Edit", order_path(@order), method: 'update' %>
<%= link_to "Delete", order_path(@order), method: 'delete' %>