<h1>Categories</h1>

<% @categories.each do |category| %>
    <%= link_to category.name, category_path(category) %><br>
<% end %>

<style>
body {
    background-color: green;
    opacity: 0.9;
}
</style>
